2 computed:
<ul>
  {{#each pagedContent as |content|}}
    <li>{{content}}</li>
  {{/each}}
</ul>

ClassComputed:
<ul class="createClassComputed">
  {{#each pagedContent2 as |content|}}
    <li>{{content}}</li>
  {{/each}}
</ul>


<button {{action "prev"}} class="prev">&lt;</button>{{input value=page}}<button {{action "next"}} class="next">&gt;</button><br>
Total pages: {{pagedContent.totalPages}}
